<div class="modal-body">

    <!-- 1/3 -->
    <div>
        <div style="position: relative;" class="col-lg-4 col-12">
            <h3 class="border-bottom">Orte</h3>
            {{locations[1].name}}
        </div>
        <div style="position: relative;" class="col-lg-4 col-12">
            <h3 class="border-bottom">Bewertungen</h3>
        </div>
    </div>

    <!-- 2/3 -->
    <div>
        <div style="position: relative;" class="col-lg-4 col-12">
            <h3 class="border-bottom">Touren</h3>
    </div>

    <!-- 3/3 -->
    <div>
        <div style="position: relative;" class="col-lg-4 col-12">
            <h3 class="border-bottom">Profileinstellungen</h3>
        </div>
        <div style="position: relative;" class="col-lg-4 col-12">
            <h3 class="border-bottom">Kontoeinstellungen</h3>
    </div>

</div>