<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Dashboard</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3">
                <ul ngbNav (navChange)="onNavChange($event)" #nav="ngbNav" [(activeId)]="active" class="nav-pills"
                    orientation="vertical">
                    <li ngbNavItem="dashboardUserNav">
                        <a ngbNavLink>Mein Account</a>
                        <ng-template ngbNavContent>
                            <app-user-dashboard [modal]="modal"></app-user-dashboard>
                        </ng-template>
                    </li>
                    <li ngbNavItem="dashboardLocationNav">
                        <a ngbNavLink>Meine Locations</a>
                        <ng-template ngbNavContent>
                            <app-location-dashboard [modal]="modal"></app-location-dashboard>
                        </ng-template>
                    </li>
                    <li ngbNavItem="dashboardTourNav">
                        <a ngbNavLink>Meine Touren</a>
                        <ng-template ngbNavContent>
                            <app-tour-dashboard [modal]="modal"></app-tour-dashboard>
                        </ng-template>
                    </li>
                </ul>
            </div>
            <div class="col-9">
                <div [ngbNavOutlet]="nav" class="ml-4"></div>
            </div>
        </div>
    </div>
</div>