<div class="card">
    <div class="card-body">
        <h5 class="card-title">Suche</h5>
        <div class="row">
            <div class="col-9">
                <input class="form-control" type="text" [(ngModel)]="searchInput" placeholder="Ort suchen..."
                    aria-label="Suche">
            </div>
            <div class="col-2">
                <button class="btn btn-primary" (click)="onSubmit()"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div *ngIf="err" class="alert alert-danger" role="alert">
            Keine Orte gefunden!
        </div>
    </div>
</div>