<div class="card" style="min-width: 12rem; max-width: 12rem;">
    <img class="card-img-top" [src]="imageexists ? imageUrl : 'assets/images/no-picture.png'"
        alt="assets/images/no-picture.png">
    <div class="card-body">
        <ngb-rating [max]="5" [rate]="3"></ngb-rating>
        <h5 class="card-title">{{location.name}}</h5>
        <p class="card-text">{{location.description}}</p>
        <p>{{location.address.street}} {{location.address.number}} </p>
        <p>{{location.address.city.zipcode}} {{location.address.city.name}}, {{location.address.country.name}}</p>
    </div>
</div>