<div class="card" style="min-width: 12rem; max-width: 12rem;">
    <img class="card-img-top" [src]="imageUrl ? imageUrl : 'assets/images/no-picture.png'">
    <div class="card-body">
        <ngb-rating *ngIf="ratingValue" [max]="5" [rate]="ratingValue"></ngb-rating>
        <h5 class="card-title">{{location.name}}</h5>
        <p class="card-text">{{location.description}}</p>
        <p>{{location.address.street}} {{location.address.number}} </p>
        <p>{{location.address.city.zipcode}} {{location.address.city.name}}, {{location.address.country.name}}</p>
    </div>
</div>