/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

.leaflet-popup-content {
    margin: 0 !important;
}

body {
    overflow-y: hidden;
}

.carousel-inner img {
    margin: auto !important;
  }

  @media (min-width: 1200px) { /* Breite beträgt höchstens 1024px */
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
      filter: invert(1) !important;
    }

}

